<form method='get' action='/quizes/<%- quiz.id %>/answer'>
    Pregunta: <%= quiz.pregunta %>
    <p>
        <input type='text' name='respuesta' placeholder='Responda aquí'/>
        <input type='submit' value='Enviar'/>
</form>

<p>
    <a href="/quizes/<%- quiz.id %>/comment/new">
    <button>
        Nuevo Comentario
    </button></a>
</p>

<p>
    <strong>Comentarios:</strong>
</p>

<table>
    <% for (index in quiz.Comments) {%>
    <% if (quiz.Comments[index].publicado || session.user) {%>
    <tr>
        <td style="text-align: left;">- <%= quiz.Comments[index].texto %></td>
        <% if (!quiz.Comments[index].publicado) {%>
        <td>
        <form method="post" action="/quizes/<%= quiz.id %>/comment/<%= quiz.Comments[index].id %>?_method=put">
            <button type="submit">
                Publicar
            </button>
        </form></td>
        <%}%>
    </tr>
    <%}%>
    <%}%>
</table>