<h2>Estadísticas</h2>

<table id="stats">
    <tr>
        <td>Número de preguntas: </td>
        <td><%= statistics.quizesNum %></td>
    </tr>
    <tr>
        <td>Número de comentarios: </td>
        <td><%= statistics.commentsNum %></td>
    </tr>
    <tr>
        <td>Comentarios por pregunta: </td>
        <td><%= statistics.commentsPerQuiz %></td>
    </tr>
    <tr>
        <td>Preguntas con comentario: </td>
        <td><%= statistics.quizesWithComment %></td>
    </tr>
    <tr>
        <td>Preguntas sin comentario: </td>
        <td><%= statistics.quizesWithoutComment %></td>
    </tr>
</table>
