<h2>Estadísticas</h2>

<table id="stats">
    <tr>
        <td>Número de preguntas: </td>
        <td><%= quizesNum %></td>
    </tr>
    <tr>
        <td>Número de comentarios: </td>
        <td><%= commentsNum %></td>
    </tr>
    <tr>
        <td>Comentarios por pregunta: </td>
        <td><%= commentsPerQuiz %></td>
    </tr>
    <tr>
        <td>Preguntas con comentario: </td>
        <td><%= quizesWithComment %></td>
    </tr>
    <tr>
        <td>Preguntas sin comentario: </td>
        <td><%= quizesWithoutComment %></td>
    </tr>
</table>
